html, body {
	background: #e3f2fd;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	color: rgb(107, 107, 132);
}
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding: 2.5% 2.5% 0;
	background: #f6fafd;
	line-height: 1.8;
}
h1 {
	font: 3.2em Verdana, Geneva, sans-serif;
	margin-bottom: .4em;
	color: rgb(83, 104, 138);
}
h2 {
	font: 2em Georgia, "Times New Roman", Times, serif;
	margin-bottom: .2em;
}
h3 {
	font-size: 1.2em;
}
p {
	margin-bottom: 1em;
}
a {
	color: rgb(184, 126, 84);
}
a:hover {
	color: rgb(120, 97, 55);
}
.center {
	text-align: center;
}
header h2 {
	padding-bottom: .2em;
	border-bottom: 1px solid gray;
}
footer {
	border-top: 1px solid gray;
	text-align: center;
	font-size: .8em;
	line-height: 4em;
	margin-top: 1em;
}
.flowRight {
	float: right;
	margin-left: 10px;
}
figure {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers image and caption horizontally */
  float: right;
}